{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}
<div class="featured-collection-slider featured-collection-slider-{{section.id}}">
    <div class="page-width">

        {%- if section.settings.sub_heading != blank or section.settings.heading != blank or section.settings.short_note != blank -%}   
        <div class="featured-collection-slider-header">
            {%- if section.settings.sub_heading != blank -%}
            <span class="sub-heading">{{ section.settings.sub_heading }}</span>
            {%- endif %}
            {%- if section.settings.heading != blank -%}
            <h2 class="heading">{{ section.settings.heading }}</h2>
            {%- endif %}
            {%- if section.settings.short_note != blank -%}
            <div class="short-note">{{ section.settings.short_note }}</div>
            {%- endif %}
        </div>
        {%- endif -%}   

        <div class="featured-collection-container">
            <div class="featured-collection-list">
                <ul class="grid product-grid contains-card contains-card--product">
                {% assign skip_card_product_styles = false %}
                {%- for product in section.settings.collection.products -%}
                    <li
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    class="grid__item {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                    >
                    {% render 'card-product',
                        card_product: product,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        show_secondary_image: section.settings.show_secondary_image,
                        show_vendor: section.settings.show_vendor,
                        show_rating: section.settings.show_rating,
                        skip_styles: skip_card_product_styles,
                        section_id: section.id,
                        quick_add: section.settings.quick_add
                    %}
                    </li>
                    {%- assign skip_card_product_styles = true -%}
                {%- else -%}
                    {%- for i in (1..10) -%}
                    <li
                        class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                        {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                        {% endif %}
                    >
                        {% liquid
                        assign ridx = forloop.index
                        case ridx
                            when 5
                            assign ridx = 1
                            when 6
                            assign ridx = 2
                        endcase
                        %}
                        {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
                        {% render 'card-product',
                        show_vendor: section.settings.show_vendor,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        placeholder_image: placeholder_image
                        %}
                    </li>
                    {%- endfor -%}
                {%- endfor -%}
                </ul>
            </div>
        </div>

    </div>
</div>
<style>
.featured-collection-slider-{{section.id}}{
    padding-top:{{section.settings.padding_top_desktop}}px;
    padding-bottom:{{section.settings.padding_bottom_desktop}}px;
    background-color:{{section.settings.background_color}};
}  
.featured-collection-slider-{{section.id}} .sub-heading{
    font-size: {{section.settings.sub_heading_size_desktop}}px;
    color: {{section.settings.sub_heading_color}};
}
.featured-collection-slider-{{section.id}} .heading{
    font-size: {{section.settings.heading_size_desktop}}px;
    color: {{section.settings.heading_color}};
}
.featured-collection-slider-{{section.id}} .short-note,
.featured-collection-slider-header .short-note p a{
    font-size: {{section.settings.short_note_desktop}}px;
    color: {{section.settings.short_note_color}};
}
@media(max-width:749px){
    .featured-collection-slider-{{section.id}}{
        padding-top:{{section.settings.padding_top_mobile}}px;
        padding-bottom:{{section.settings.padding_bottom_mobile}}px;
    }  
    .featured-collection-slider-{{section.id}} .sub-heading{
        font-size: {{section.settings.sub_heading_size_mobile}}px;
    }
    .featured-collection-slider-{{section.id}} .heading{
        font-size: {{section.settings.heading_size_mobile}}px;
    }  
    .featured-collection-slider-{{section.id}} .short-note{
        font-size: {{section.settings.short_note_mobile}}px;
    } 
}  
</style>
{% schema %}
    {
      "name": "featured coll slider",
      "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#fff"
        },
        {
            "type": "header",
            "content": "Sub Heading"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading"
        },
        {
            "type": "color",
            "id": "sub_heading_color",
            "label": "Sub Heading color",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "sub_heading_size_desktop",
            "label": "Sub Heading size(desktop)",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 16
        },
        {
            "type": "range",
            "id": "sub_heading_size_mobile",
            "label": "Sub Heading size(mobile)",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 14   
        },
        {
            "type": "header",
            "content": "Heading"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured collection slider"
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading color",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "heading_size_desktop",
            "label": "Heading size(desktop)",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 40
        },
        {
            "type": "range",
            "id": "heading_size_mobile",
            "label": "Heading size(mobile)",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 22   
        },
        {
            "type": "header",
            "content": "short Note"
        },
        {
            "type": "richtext",
            "id": "short_note",
            "label": "Short note"
        },
        {
            "type": "color",
            "id": "short_note_color",
            "label": "Short note color",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "short_note_desktop",
            "label": "Short note size(desktop)",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 14
        },
        {
            "type": "range",
            "id": "short_note_mobile",
            "label": "Short note size(mobile)",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 14   
        },
        {
            "type": "header",
            "content": "Collection"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "select",
            "id": "image_ratio",
            "options": [
                {
                "value": "adapt",
                "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
                },
                {
                "value": "portrait",
                "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
                },
                {
                "value": "square",
                "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
                }
            ],
            "default": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
            "type": "select",
            "id": "image_shape",
            "options": [
                {
                    "value": "default",
                    "label": "t:sections.all.image_shape.options__1.label"
                },
                {
                    "value": "arch",
                    "label": "t:sections.all.image_shape.options__2.label"
                },
                {
                    "value": "blob",
                    "label": "t:sections.all.image_shape.options__3.label"
                },
                {
                    "value": "chevronleft",
                    "label": "t:sections.all.image_shape.options__4.label"
                },
                {
                    "value": "chevronright",
                    "label": "t:sections.all.image_shape.options__5.label"
                },
                {
                    "value": "diamond",
                    "label": "t:sections.all.image_shape.options__6.label"
                },
                {
                    "value": "parallelogram",
                    "label": "t:sections.all.image_shape.options__7.label"
                },
                {
                    "value": "round",
                    "label": "t:sections.all.image_shape.options__8.label"
                }
            ],
            "default": "default",
            "label": "t:sections.all.image_shape.label",
            "info": "t:sections.all.image_shape.info"
        },
        {
            "type": "checkbox",
            "id": "show_secondary_image",
            "default": false,
            "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "default": false,
            "label": "t:sections.featured-collection.settings.show_vendor.label"
            },
        {
            "type": "checkbox",
            "id": "show_rating",
            "default": false,
            "label": "t:sections.featured-collection.settings.show_rating.label",
            "info": "t:sections.featured-collection.settings.show_rating.info"
        },
        {
            "type": "select",
            "id": "quick_add",
            "default": "none",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
            "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
            "options": [
                {
                "value": "none",
                "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
                },
                {
                "value": "standard",
                "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
                },
                {
                "value": "bulk",
                "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
                }
            ]
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top(desktop)",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom(desktop)",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding top(Mobile)",
            "default": 50
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding bottom(Mobile)",
            "default": 30
        }
      ],
      "presets": [
        {
          "name":"featured coll slider"
        }
      ]
    }
  {% endschema %}